/.idea
/pix2pix/checkpoints
/midas/model-f46da743.pt
/midas/model.pt
/structuredrl/model.pth.tar
dataset_prepare/midas/model.pt
/results
/result
/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*/**/__pycache__
.DS_Store
/outputs_
/output
/outputs_ibims
/dataset_prepare/ibims1
/dataset_prepare/middleburry
