/.idea
/pix2pix/checkpoints
/midas/model-f46da743.pt
/midas/model.pt
/structuredrl/model.pth.tar
dataset_prepare/midas/model.pt
/results
/result
/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*/**/__pycache__
.DS_Store
Icon
/outputs_ibims
/dataset_prepare/ibims1
/dataset_prepare/middleburry
/dataset_prepare/DIODE/*
/our_experiments/IBIMS1/*
/our_experiments/DIODE/*
/our_experiments/outputs/*
/outputs_diode_midasV3
/outputs_ibims1_midasV3
*.mat
*.pth
Icon?