/.idea
/pix2pix/checkpoints
/midas/model-f46da743.pt
/midas/model.pt
/structuredrl/model.pth.tar
dataset_prepare/midas/model.pt
/results
/result
/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*/**/__pycache__
.DS_Store
/outputs_
/output
/outputs_ibims
/dataset_prepare/ibims1
/dataset_prepare/middleburry
/dataset_prepare/DIODE
/our_experiments/IBIMS1/MiDas/outputs_final
/our_experiments/IBIMS1/MiDas/outputs_original
/our_experiments/IBIMS1/SGR/outputs_final
/our_experiments/IBIMS1/SGR/outputs_original
/our_experiments/outputs
/outputs_diode
/outputs/outputs_v3
/outputs/outputs_v3_wholeimage
